<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Limericks Exercise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
      body {
          background-color: lightblue; /* Change the background color */
          font-family: Arial, Helvetica, sans-serif; /* Set font family */
          text-align: center; /* Align all text to the center */
      }

      h1 {
          font-style: italic; /* Change h1 text to italics */
          padding-top: 10px; /* Add 10px padding to the top */
      }

      p {
          font-size: 45px; /* Increase font size of paragraphs */
      }

      .title {
          font-weight: bold; /* Make titles of all limericks bold */
      }

      #theend {
          color: darkred; /* Change color of "The End" */
      }

      div {
          padding: 50px; /* Set padding to 50px */
          margin: 80px; /* Set margins to 80px */
          border: 10px solid black; /* Add a 10px solid black border */
      }
  </style>
</head>
<body>
    <h1>Three Silly Limericks</h1>    
    <div>
        <p><span class="title">Keith</span><br>
        An elderly man called Keith,<br>
        Mislaid his set of false teeth.<br>
        They'd been laid on a chair,<br>
        He'd forgot they were there,<br>
        Sat down, and was bitten beneath.</p>
    </div>
    <div>
        <p><span class="title">Miss Dowd</span><br>
        A mouse in her room woke Miss Dowd,<br>
        She was frightened—it must be allowed.<br>
        Soon a happy thought hit her<br>
        To scare off the critter,<br>
        She sat up in bed and meowed.</p>
    </div>
    <div>
        <p><span class="title">Dwight</span><br>
        There once was a runner named Dwight,<br>
        Who could speed even faster than light.<br>
        He set out one day,<br>
        In a relative way,<br>
        And returned on the previous night.</p>
    </div>
    <h2 id="theend">The End</h2>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
